@import './board.scss';

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to bottom, #8e9eab, #eef2f3);
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

h1 {
  text-shadow: 0 0 2px black;
}

.wrapped {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

header {
  clear: both;
  overflow: auto;

  h1 {
    float: left;
  }
  #user {
    float: right;
    margin-top: 1.5em;

    > * > * {
      float: left;
      height: 35px;
    }

    input {
      display: block;
      font-size: 1em;
      padding: 6px 10px;
      margin: 0;
      box-sizing: border-box;
      border-radius: 2px;
      border: none;
    }
    input[type=submit] {
      background-color: dimgray;
      cursor: pointer;
    }

    #login {
      .username {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      input[type=submit] {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .info {
      display: none;

      .username {
        line-height: 35px;
        margin-right: 10px;
      }
    }
  }
}

#games {
  display: none;

  .game {
    width: 180px;
    min-height: 110px;
    padding: 10px 20px 10px 10px;

    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px black;

    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px 1px black;
    }

    .name {
      font-weight: bold;
      margin-bottom: 5px;
      border-bottom: 1px solid gray;
    }
  }
}

#board-wrapper {
  padding: 10px 0;
}

body.logged-in {
  #user .info,
  #games {
    display: block;
  }
  #login {
    display: none;
  }
}