@import './board.scss';

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to bottom, #8e9eab, #eef2f3);
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

h1 {
  text-shadow: 0 0 2px black;
}

.wrapped {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

input {
  display: block;
  font-size: 1em;
  padding: 6px 10px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
}
input[type=submit] {
  background-color: dimgray;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

header {
  clear: both;
  overflow: auto;

  h1 {
    float: left;
  }
  #user {
    float: right;
    margin-top: 1.5em;

    > * > * {
      float: left;
      height: 35px;
    }

    #login {
      .username {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      input[type=submit] {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .info {
      display: none;

      .username {
        line-height: 35px;
        margin-right: 10px;
      }
    }
  }
}

#creator {
  display: none;

  > div {
    overflow: auto;
    margin-bottom: 20px;

    // left pane
    > label {
      float: left;
      clear: both;
      width: 100px;
      margin-top: 4px;
    }
  }

  // right pane
  > input,
  #ruleset {
    float: left;
    width: 215px;
  }

  #ruleset {
    input {
      display: none;

      &:checked+label {
        background-color: dimgray;
      }
    }
    label {
      display: block;
      font-size: 1em;
      padding: 10px 20px;
      cursor: pointer;

      $border: 3px solid gray;
      $border-radius: 5px;

      border: $border;
      border-top: none;

      &:first-of-type {
        border-top: $border;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      &:last-of-type {
        border-bottom: $border;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  input[type=submit] {
    margin-left: 100px;
  }
}

#games {
  display: none;

  #mygames-header {
    clear: both;
    overflow: auto;

    > * {
      float: left;
      margin: 20px 0;
    }

    #create-game {
      background-color: #d4edda;
      margin-left: 20px;
      color: #155724;
      font-weight: 600;
    }
  }

  #mygames,
  #lobbys,
  #spectategames {
    overflow: auto;
    clear: both;
  }


  .game,
  .lobby {
    float: left;

    width: 180px;
    min-height: 110px;
    padding: 10px 20px 10px 10px;
    margin: 10px;

    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px black;

    .name {
      font-weight: bold;
      margin-bottom: 5px;
      border-bottom: 1px solid gray;
    }

    .ruleset {
      font-weight: bold;
    }
    input[type=submit]{
      width: 60%;
      margin: 10px auto;
    }
  }
  .game {
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px 1px black;
    }
  }
}

#board-wrapper {
  padding: 10px 0;
}

body.logged-in {
  #user .info,
  #games {
    display: block;
  }
  #login {
    display: none;
  }
}
body.ingame {
  #games {
    display: none;
  }
}