<div class="board">
    <table>
        {{#spinforplayer game player game.board}}
        <tr>
            {{#spinforplayer ../game ../player this}}
                {{#rendercell this}}{{/rendercell}}
            {{/spinforplayer}}
        </tr>
        {{/spinforplayer}}
    </table>
    <div class="overlay">
        <div class="message">
            <p class="title">So and so message</p>
            <p class="content">Please reload the app</p>
        </div>
    </div>
</div>