<table id="board">
    {{#each game.board}}
    <tr>
        {{#each this}}
        <td class="{{this.classes}}">
            {{#if this.hasPiece}}
                <img src="{{this.piece.classes}}" />
            {{/if}}
        </td>
        {{/each}}
    </tr>
    {{/each}}
</table>